.formbtn {
  margin: 20px 0px 20px 0px;
}

h1{
  margin-bottom: 40px;
  font-weight: bold;
  margin-top: 10%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.call-buttons {
    position: absolute;
    margin: 1% 25% 1% 25%;
}

#vid-thumb {
    opacity: 0.5;
    margin: 0 auto;
}